<h5>
  Bootstrap 4
</h5>
<img class="rounded" width="300" alt="Angular Logo" src="../../assets/angular.png">
<img class="rounded-circle" width="300" alt="Angular Logo" src="../../assets/angular.png">
<div class="d-flex">
  <div class="col">
    <h5>Horizontal Flex</h5>
    <div class="d-flex p-3 bg-secondary text-white">
      <div style="height:500px;width:200px" class="item p-2 bg-info">Flex item 1</div>
      <div style="height:150px;width:500px" class="item p-2 bg-warning">Flex item 2</div>
      <div style="height:400px;width:150px" class="item p-2 bg-primary">Flex item 3</div>
    </div>
  </div>
  <div class="col">
    <h5>Verical Flex</h5>
    <div class="d-flex flex-column bg-secondary">
      <div style="height:500px;width:200px" class="p-2 bg-info">Flex item 1</div>
      <div style="height:150px;width:500px" class="p-2 bg-warning">Flex item 2</div>
      <div style="height:400px;width:150px" class="p-2 bg-primary">Flex item 3</div>
    </div>
  </div>
</div>